@model _19T1021316.Web.Models.CategorySearchOutput

@{
    Layout = null;
}

        @* Kết quả tìm kiếm *@
        <p style="margin-top: 10px;">
            Có <strong>@Model.RowCount</strong> loại hàng trong tổng số <strong>@Model.PageCount</strong> trang
        </p>

        <div class="table-responsive">
            <table style="margin-bottom:0;" class="table table-bordered table-striped table-hover">
                <thead>
                    <tr class="bg-primary">
                        <th>Tên loại hàng</th>
                        <th>Mô tả</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Data)
                    {
                        <tr>
                            <td>@item.CategoryName</td>
                            <td>@item.Description</td>
                            <td class="text-right">
                                <a href="~/Category/Edit/@item.CategoryID" class="btn btn-sm btn-primary" title="Sửa">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a href="~/Category/Delete/@item.CategoryID" class="btn btn-sm btn-danger" title="Xoá">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>


        @* Phân trang *@
        <div class="text-center">
            <ul class="pagination">
                @for (int i = 1; i <= Model.PageCount; i++)
                {
                    if (i == Model.Page)
                    {

                        <li class="active"><a href="#">i</a></li>
                    }
                    else
                    {
                        <li> <a href="javascript:;" onclick="doSearch(@i)">@i</a></li>
                    }

                }
            </ul>
        </div>

    </div>
</div>